@page
@model SourceStack.Pages.Article.IndexModel
@{
    ViewData["Title"] = "精品文章";

}
<head>
    <meta charset="utf-8" />
    <meta name="description" content="大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……" />
    <meta name="keywords" content="源栈 一起帮 自由飞" />
    <link rel="shortcut icon" type="image/ico" href="http://17bang.ren/Images/logo-big.ico" media="screen" />
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
</head>

<main class="container">
    <div class="row" style="margin-top:60px">
        <div id="notification" class="container">
            <span class="fa fa-calendar"></span>
            文章的评论已截屏保存，飞哥加油被涛咆哮赞，获得帮帮点 奖励2点
            <a href="723.html" style="float:right; color:#337ab7"><span class=" fa fa-hand-o-right "></span>全部消息</a>
        </div>
        @foreach (var item in Model.Articles)
        {
            <div class="col-md-8">
                <div style="margin-top:15px">
                    <p style="float:left">@item.PublishTime.ToString("yyyy年MM月dd日 hh点mm分")</p>
                    <p><span style="float:right"><b>作者：</b><a href="/User/@item.Author.Id">@item.Author.Name</a></span></p>
                    <div style="clear:both">
                        <span><a href="/Article/Single?id=@item.Id" style="font-size:30px">@item.Title</a></span><br />
                        <span>@item.Body<a href="Article.html">……</a></span><br />
                        <div>
                            <span class=" fa fa-tags " style="font-size:15px"><b>关键字：</b></span>
                            <span class="badge badge-secondary" style="border-radius: 10px;font-size:15px">离开知乎</span>
                            <span class="badge badge-secondary" style="border-radius: 10px;font-size:15px">优质内容</span>
                            <span class="badge badge-secondary" style="border-radius: 10px;font-size:15px">推广</span>
                            <div style="float:right">
                                <span><a href="Article.html">评论：</a>@ViewData["CommentCount"]</span>
                                <span><a href="Article.html">👍赞：</a>@ViewData["AgreeCount"]</span>
                                <span><a href="Article.html">👎踩：</a>@ViewData["OpposeCount"]</span>
                            </div>
                        </div>
                    </div><hr />
                </div>
            </div>
        }
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">

            @*<a href="/Article?pageIndex=@(i)" class="btn btn-light">上一页</a>*@
           

            @for (int i = 0; i < 10; i++)
            {

                <a href="/Article?pageIndex=@(i+1)" class="btn btn-light">@(i+1)</a>

                @*<a href="/Article?pageIndex=@(i+2)" class="btn btn-light">下一页</a>*@

            }
        </div>
    </div>
    <aside class="col-md-4 ">
        <div class="widget clearfix">
            <p style="font-size:30px"><span class="fa fa-tags"></span>关键字</p><hr>
            <div style="font-size:25px">
                <span class="badge badge-secondary" style="border-radius: 10px;">编程开发语言</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">C#</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">JAVA</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">工具软件</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">javascript</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">顾问咨询</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">html</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">visualstudio</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">操作系统</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">职场</span>
                <span class="badge badge-secondary" style="border-radius: 10px;">SQL</span>
            </div>
            <hr>
            <div class="input-group mb-3">
                <input type="text" style="width:50%" placeholder="直接输入关键字查找" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append" style="margin-right:25px">
                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-search"></span></span>
                </div>
                <div>
                    <button type="button" style="margin-left:1px" class="btn btn-outline-dark"><span class="fa fa-random"></span>换一批</button>
                </div>
            </div>
        </div>
        <div class="widget">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="#" style="margin-top: -15px"> <span class="fa  fa-eye"></span>每日督促</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color:red;margin-top: -15px" href="#"><span class="fa  fa-heart"></span>排行榜</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="margin-top: -15px"><span class="fa  fa-user-circle-o"></span>新注册</a>
                </li>
            </ul>
            <table>
                <tbody>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: black">1</span></h4></td>
                        <td>
                            <span><a href="#">unkownn</a></span>
                            <span style="margin-right:120px"><a href="#" title="中级学徒">②</a></span>
                        </td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #696969">2</span></h4></td>
                        <td>
                            <span><a href="#" style="color:#dcb962">叶飞</a></span>
                            <span style="margin-right:120px"><a href="#" title="大宗师">⑩</a></span>
                        </td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: gray">3</span></h4></td>
                        <td>
                            <span><a href="#">Edwin521</a></span>
                            <span style="margin-right:120px"><a href="#" title="初级学徒">①</a></span>
                        </td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">4</span></h4></td>
                        <td>
                            <span><a href="#" style="color:#dcb962">dk</a></span>
                            <span style="margin-right:120px"><a href="#" title="初级宗师">④</a></span>
                        </td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">5</span></h4></td>
                        <td>
                            <span><a href="#">Gabriel</a></span>
                            <span style="margin-right:120px"><a href="#" title="初级学徒">①</a></span>
                        </td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">6</span></h4></td>
                        <td>
                            <span><a href="#">忠哲</a></span>
                            <span style="margin-right:120px"><a href="#" title="初级学徒">①</a></span>
                        </td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">7</span></h4></td>
                        <td>
                            <span><a href="#">和光同尘</a></span>
                            <span style="margin-right:120px"><a href="#" title="中级学徒">②</a></span>
                        </td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">8</span></h4></td>
                        <td>
                            <span><a href="#">知名跳伞体验家</a></span>
                            <span style="margin-right:110px"><a href="#" title="中级学徒">②</a></span>
                        </td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
            <div class=" nav justify-content-end " style="padding:10px">
                <a href="#"><span class="fa fa-hand-o-right "></span>我的排名</a>
            </div>
        </div>
        <div class="widget">
            <table>
                <tbody>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: black">1</span></h4></td>
                        <td><a href="Article.html">学编程，来“源站”！飞哥精品小班等着你......</a></td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #696969">2</span></h4></td>
                        <td><a href="Article.html">免费广告位，抢到就是赚到！</a></td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: gray">3</span></h4></td>
                        <td><a href="Article.html">免费广告位，抢到就是赚到！</a></td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">4</span></h4></td>
                        <td><a href="Article.html">免费广告位，抢到就是赚到！</a></td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">5</span></h4></td>
                        <td><a href="Article.html">免费广告位，抢到就是赚到！</a></td>
                    </tr>
                    <tr>
                        <td><h4 style="margin-right:20px"><span class="badge badge-secondary" style="background-color: #a9a9a9">6</span></h4></td>
                        <td>本站本机由<a href="Article.html">西部数码</a>提供</td>
                    </tr>
                </tbody>
            </table>
            <a href="#" class=" nav justify-content-end "><small><span class="fa fa-buysellads">广告</span></small> </a>
        </div>
    </aside>

</main>
<div>
    <div class=" location" style="text-align:center;position:fixed;bottom:99px;right:260px;">
        <a href="#"><span class="fa fa-question-circle"></span><br />帮助</a>
    </div>
    <div class="location" style=" text-align:center;position:fixed;bottom:40px;right:260px;">
        <a href="#"><span class=" fa fa-comments-o"></span><br />反馈</a>
    </div>
</div>
